* {
    font-weight: 300;
    
}

.content {
    margin-top: 50px;
}

.heading{
        font-weight: 800;
}

.user-form{
    background-color: rgb(248, 199, 204);
    border-radius: 14px;
    Width:500px; 
    height:500px
}
